.side-bar
  .side-bar__header
    .side-bar__header__name
      .side-bar__header__name__user
        masa
      .side-bar__header__name__icon
        =link_to "#" , class: "pencil" do
          = icon("far" , "edit")
        =link_to "#" , class: "gear" do
          = icon("fas", "cog")
        
  .side-bar__box
    .side-bar__box__class
      .side-bar__box__class__group
        techcamp
      .side-bar__box__class__message
        まだメッセージがありません

    .side-bar__box__class
      .side-bar__box__class__group
        techcamp2
      .side-bar__box__class__message
        まだメッセージがありません1234

    .side-bar__box__class
      .side-bar__box__class__group
        techcamp3
      .side-bar__box__class__message
        まだメッセージがありません1234567
      




